* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid rgba(255,255,255,.2) */
}

body, html {
    height: 100vh;
    background-color: #080809;
    font-family: 'Raleway', sans-serif;
    color: #12BB98;
    overflow-y: hidden;
    /* cursor: url('../img/green_cursor.png') 15 15, auto; */
}

.intersect-area {
    position: fixed;
    left: 35%;
    top: 10%;
    width: 30%;
    height: 80%;
}

.background-title {
    position: absolute;
    left: 5vw;
    bottom: 2vh;
    font-family: 'Raleway', serif;
    color: #050505;
    font-weight: 900;
    font-size: 30vw;
    opacity: .3;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

/* Loader section */

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-overlay {
    position: absolute;
    margin-left: 33%;
    left: 0;
    width: 0;
    height: 200px;
    background-color: #030202;
    z-index: 1;
}

h1 {
    margin-top: -5px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}

.h1-name {
    position: absolute;
    opacity: 0;
}

.h1-title {
    position: absolute;
    opacity: 0;
}

/* Header section */

.aurora-icon {
    position: fixed;
    top: 100px;
    left: 150px;
    width: 21px;
    height: 37px;
    background: url('../img/aurora-icon.png');
    opacity: 0;
}

/* Styling "hamburger" icon */

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 150px;
    top: 100px;
    width: 50px;
    height: 50px;
    z-index: 50;
    transform: rotate(90deg);
    opacity: 0;
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.hamburger_line {
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background-color: #12BB98;
    transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.hamburger_line:nth-child(2) {
    margin: 6px 0;
    width: 25px;
}

/* Styling hamburger navigation */

.hamburger:hover>.hamburger_line:nth-child(1) {
    /* margin: 1px 0; */
    transform: translateY(-2px);
    /* opacity: 0; */
    transition: all .1s linear;
}

.hamburger:hover>.hamburger_line:nth-child(3) {
    /* margin: 1px 0; */
    transform: translateY(2px);
    /* opacity: 0; */
    transition: all .1s linear;
}

.hamburger:hover>.hamburger_line:nth-child(even) {
    /* width: 15px; */
    transform: scaleX(.6);
    transition: all .2s linear;
}

/* Style contact div at end of page */

.contact {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    /* right: 200px; */
    width: auto;
    transform: rotate(90deg);
}

.contact a {
    color: #12BB98;
    text-decoration: none;
    border-bottom: 1px solid #12BB98;
    margin-right: 20px;
    padding-bottom: 5px;
}

.contact a:hover {
    color: white;
    border-bottom: 1px solid white;
    transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.contact a:last-child {
    margin: 0;
}

/* Styling work previews contained in an article */

article {
    position: absolute;
    top: 0;
    left: 85vw;
    display: none;
    align-items: center;
    width: auto;
    height: 100vh;
    padding-right: 200px;
    opacity: 1;
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.work-preview {
    position: relative;
    left: -250px;
    width: 400px;
    height: 500px;
    margin: 0 200px;
    /* background-color: rgb(33, 42, 64); */
    /* background-color: #030304; */
    background-color: #030304;
    background-position: center;
    background-size: cover;
    opacity: .1;
    z-index: 5;
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

#norske-folkeeventyr {
    background: url('../img/nf/nf-preview.png');
}
.focus {
    background-color: black;
    transform: scale(1.2);
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.inactive {
    background: #040405 !important;
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}