/* * {
    outline: 1px solid rgba(255,255,255,.1);
} */

html, body {
    overflow: visible;
}

.background-title {
    position: fixed;
    z-index: -1;
}

article {
    /* position: absolute !important; */
    top: 65vh;
    left: 0;
    display: block !important;
    width: 100vw;
    padding: 100px 0;
}

.header-work-logo {
    display: block;
    max-width: 20vw;
    height: auto;
    margin: 0 auto;
}

.intro-text {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 500px;
    margin: 200px auto 0 auto;
    font-weight: 100;
    /* background-color: rgba(255,255,255,.2) */
}

.intro-text h4 {
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.intro-text p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.info-text p {
    font-size: 12px;
}

.info-text {
    width: 40%;
    padding: 100px;
    /* background-color: #121A26; */
}

.concept-text {
    width: 60%;
    padding: 100px;
}

h1 {
    margin-top: -5px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: black;
    font-size: 35px;
    text-align: center;
    line-height: 60px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 100;
    margin: 15px 0 30px 0;
}

p {
    color: white;
    font-weight: 200;
    letter-spacing: 1px
}

button {
    position: relative;
    width: 110px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #12BB98;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    overflow: hidden;
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

button::after {
    content: '';
    position: absolute;
    left: 0;
    /* margin-left: 71px; */
    margin-top: -11px;
    width: 0;
    height: 40px;
    /* background-color: white; */
    overflow: hidden;
    z-index: 1;
}

button:hover::after {
    position: absolute;
    width: 110px;
    /* margin-left: -71px; */
    background-color: rgba(0, 0, 0, .5);
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

button:hover {
    transition: all .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

button a {
    color: white;
    text-decoration: none;
}

/* Style & set up animating elements */

.image-container {
    position: relative;
    width: 80%;
    margin: 100px auto;
}

.text-container {
    position: relative;
    width: 60%;
    margin: 100px auto;
}

.text-container p {
    width: 100px;
}

.text-rotate {
    position: absolute;
    top: 250vh;
    transform: rotate(90deg);
}

.text-container h1 {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 150px;
    font-size: 70px;
}

.animate-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #040405;
    -webkit-box-shadow: 4px 10px 24px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 10px 24px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 10px 24px -5px rgba(0, 0, 0, 0.75);
}

img {
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 100px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Footer styling */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
    width: 80%;
    height: 180px;
    margin: 200px auto 0 auto;
    background: url('../img/u4b/u4b-mockup.png') no-repeat;
    background-position: top;
}

footer h3 {
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

footer a {
    text-decoration: none;
    color: #12BB98;
}

.footer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #08090A;
    /* box-shadow: 0 -2px 20px 2px rgba(0, 0, 0, .5); */
    -webkit-box-shadow: 4px -10px 24px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px -10px 24px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 4px -10px 24px -5px rgba(0, 0, 0, 0.75);
}

a:hover {
    /* cursor: url('../img/green_cursor-hover.png') 15 15, auto; */
    transform: scale(1.2);
    transition: transform 350ms ease-in-out;
}

.hover-cursor {
    /* cursor: url('../img/green_cursor-hover.png') 15 15, auto;
    -webkit-transition: all 0.5s ease-in-out;*/
    transform: scale(1.2);
    transition: transform 350ms ease-in-out;
}
